@import url('https://fonts.googleapis.com/css?family=Lato');

body
{
	color:white;
	background: black;
	text-transform: uppercase;
}
.textOverlay
{
	position: absolute;
	top: 0;
	left:0;
	height: 1080px;
	width: 1920px;
	font-family: Lato, Helvetica, Calibri, sans-serif;
	font-size: 24px;
	z-index: 100;
}
.topBar
{
	position: inline-block;
	text-align: right;
	padding: 0 50px;
	height: 80px;
	line-height: 80px;
	background: purple;
}
.mySlides 
{
	overflow: hidden;
	font-family: Lato, Helvetica, Calibri, sans-serif;
	position: absolute;
	width: 1920px;
	height: 1080px;
	left:0;
	top:0;
	animation-name:slideIn;
    animation-duration:1s;
}
.videoBG
{
	background: black;
	background-image:url(../img/anthony-delanoix-15928.jpg);
	background-size: cover;
	background-position: center center;
	position: absolute;
	box-shadow: 0 0 0 540px rgba(0,0,0,0.5) inset; 
	width: 1920px;
	height: 1080px;
	left: 0;
	top: 0;
}


@keyframes slideIn
{
    from
	{
		filter:opacity(0);
	}
	to
	{
		filter:opacity(1);
	}
}